.preview-area {
  background: #F2F2F2;
  position: absolute;
}

ul.preview-scroll {
  overflow: auto;
  width: 168px;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
  background: transparent;
  -webkit-overflow-scrolling: touch;
}

.preview-scroll li {
  margin: 0;
  width: 150px;
  text-align: center;
  background: transparent;
  color: #333;
  border-top: 1px solid #c0c0c0;
  padding: 20px 0;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  list-style: none;
}

.preview-scroll li:hover {
  cursor: pointer;
}

.preview-scroll li:first-child {
  border-top:none;
  padding: 40px 0;
  color: #aaa;
  cursor: default;
}

.preview-scroll li:last-child {
  border-bottom: 1px solid #c0c0c0;
  border-bottom: none;
  padding: 40px 0;
  color: #aaa;
  cursor: default;
}